@import "/reset.css";
@import "/DetailPage/detail.css";

main {
  width: 100%;
  height: 100%;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
}

.review__title {
  width: 70%;
  align-self: center;
  height: 5em;
  border-bottom: 1.5px solid var(--rvboreder-bottom);
  display: flex;
  align-items: center;
  color: var(--rvtitoe-ft);
}

.review__title > h3 {
  font-size: 1.8em;
  font-weight: 700;
  margin-right: 1em;
}

.comment-make__box {
  width: 65%;
  align-self: center;
  height: max-content;
  display: flex;
  align-items: center;
  padding: 2.5em 1.5em;
  box-sizing: border-box;
  border-radius: 10px;
}

.user-image:first-child {
  border: 1px solid var(--rvborder);
}

.user-image {
  object-fit: cover;
  overflow: hidden;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

.user-image:first-child {
  margin-right: 1.5em;
}

.comment-write__box {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  /* padding: 1.5em 0em; */
}

.id-password__box {
  display: flex;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
}

.userName {
  color: var(--rvInput-tc);
}
.password {
  color: var(--rvInput-tc);
}

#username,
#password {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid var(--rvborder);
  background-color: var(--rvInput-bg);
  padding: 0px 10px;
}

#username::placeholder,
#password::placeholder {
  padding-right: 10px;
  color: var(--rvInput-ft);
}

#username:focus,
#password:focus {
  border: 2px solid #2c7be4;
  outline: none;
}

.enter {
  background-color: rgb(28, 28, 28);
  color: white;
  width: 65px;
  height: 25px;
  border-radius: 5px;
}

.comment-write {
  background-color: var(--rvInput-bg);
  width: 99%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--rvborder);
  padding: 0px 15px 0px 10px;
  box-sizing: border-box;
}

.write {
  color: var(--rvInput-tc);
}

#write {
  width: 97%;
  height: fit-content;
  overflow-y: visible;
  height: 70px;
  resize: none;
  border: none;
  background-color: var(--rvInput-bg);
}

.fa-s {
  color: var(--rvInput-ft);
}

.comment__wrapper {
  width: 65%;
  align-self: center;
  display: grid;
  /* grid-template-rows: repeat(autofill, minmax(5em, 1fr));
  grid-auto-rows: 5em; */
  gap: 0.7em;
  margin-top: 10px;
}

.comment__box {
  background-color: var(--rvCmt-bg);
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  padding: 2em 1.5em;
  box-sizing: border-box;
  border-radius: 10px;
}

.comment {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.comment > h4 {
  font-size: 1.1em;
  font-weight: 700;
}

.comment > p {
  height: max-content;
}

.userInfo {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.star-box {
  display: flex;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.userInfo > h4 {
  font-size: 1.2em;
  font-weight: 600;
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
}

.star {
  padding: 5px;
  font-size: 20px;
  color: rgb(255, 161, 19);
}

.stars {
  width: 20px;
  height: 20px;
  display: flex;
  margin-top: 5px;
  color: var(--rvrate-color);
}

.starsIcon {
  width: 20px;
  height: 20px;
  color: rgb(232, 139, 0);
}

.rate {
  width: 2.8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 20px;
  box-sizing: border-box;
}

.edit-delete {
  display: flex;
  gap: 10px;
}

.hidden {
  display: none;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.5em;
  gap: 10px;
}

.set-time {
  font-size: 13px;
  color: var(--rvboreder-bottom);
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px) */
@media screen and (max-width: 767px) {
  .review__title {
    width: 80%;
  }
  .comment-make__box {
    width: 75%;
  }
  .comment__wrapper {
    width: 75%;
  }

  .user-image {
    width: 3em;
    height: 3em;
    border-radius: 50%;
  }

  #username,
  #password {
    width: 80%;
    height: 25px;
  }

  .comment-write__box {
    width: 75%;
    padding: 0px;
  }
  .comment {
    width: 70%;
  }
  .profile {
    margin-right: 0px;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.5em;
  gap: 10px;
}

.set-time {
  font-size: 13px;
  color: var(--rvboreder-bottom);
}
