@import '/reset.css';
@import '/DetailPage/detail.css';

main {
  /* width: 100vw; */
  height: 100%;
  padding: 30px 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
}

.review__title {
  /* background-color: antiquewhite; */
  width: 100%;
  height: 5em;
  border-bottom: 1.5px solid var(--rvboreder-bottom);
  display: flex;
  align-items: center;
  color: var(--rvtitoe-ft);
}

.review__title > h3 {
  font-size: 1.8em;
  font-weight: 700;
  margin-right: 1em;
}

.comment-make__box {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  padding: 2em 1.5em;
  box-sizing: border-box;
  border-radius: 10px;
}

.comment-write__box {
  margin-bottom: 10px;
  padding: 1.5em 0em;
}

.user-image:first-child {
  border: 1px solid var(--rvborder);
}

.user-image {
  object-fit: cover;
  overflow: hidden;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  margin-right: 1.5em;
}

.comment-write__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.id-password__box {
  display: flex;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
}

.userName {
  color: var(--rvInput-tc);
}
.password {
  color: var(--rvInput-tc);
}

#username,
#password {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid var(--rvborder);
  background-color: var(--rvInput-bg);
  padding: 0px 10px;
}

#username::placeholder,
#password::placeholder {
  padding-right: 10px;
  color: var(--rvInput-ft);
}

#username:focus,
#password:focus {
  border: 2px solid #2c7be4;
  outline: none;
}

.enter {
  background-color: rgb(28, 28, 28);
  color: white;
  width: 65px;
  height: 25px;
  border-radius: 5px;
}

.comment-write {
  background-color: var(--rvInput-bg);
  width: 99%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--rvborder);
  padding: 0px 15px 0px 10px;
  box-sizing: border-box;
}

.write {
  color: var(--rvInput-tc);
}

#write {
  width: 97%;
  height: fit-content;
  overflow-y: visible;
  height: 70px;
  resize: none;
  border: none;
  background-color: var(--rvInput-bg);
}

.fa-s {
  color: var(--rvInput-ft);
}

.comment__wrapper {
  width: 100%;
  display: grid;
  /* grid-template-rows: repeat(autofill, minmax(5em, 1fr));
  grid-auto-rows: 5em; */
  gap: 0.7em;
  margin-top: 10px;
}

.comment__box {
  background-color: var(--rvCmt-bg);
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  padding: 2em 1.5em;
  box-sizing: border-box;
  border-radius: 10px;
}

.comment {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.comment > h4 {
  font-size: 1.1em;
  font-weight: 700;
}

.comment > p {
  height: max-content;
  /* overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; */
}

.userInfo {
  height: 20px;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.star-box {
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.userInfo > h4 {
  font-size: 1.2em;
  font-weight: 600;
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
}

.star {
  padding: 5px;
  font-size: 20px;
  color: rgb(255, 161, 19);
}

.stars {
  width: 20px;
  height: 20px;
  display: flex;
  margin-top: 5px;
  margin-left: 5px;
}

.starsIcon {
  width: 20px;
  height: 20px;
  margin-left: 30px;
  color: rgb(232, 139, 0);
}

.rate {
  width: 2.8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 20px;
  box-sizing: border-box;
}

.edit-delete {
  display: flex;
  gap: 10px;
}

.hidden {
  display: none;
}
