@import "/reset.css";

main {
  /* width: 100vw; */
  height: 100%;
  padding: 30px 170px;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
}

.review__title {
  /* background-color: antiquewhite; */
  width: 100%;
  height: 5em;
  border-bottom: 1.5px solid var(--dark-gray);
  display: flex;
  align-items: center;
}

.review__title > h3 {
  font-size: 1.8em;
  font-weight: 700;
  margin-right: 1em;
}

.comment-make__box {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  padding: 2em 1.5em;
  box-sizing: border-box;
  border-radius: 10px;
}

.comment-write__box {
  margin-bottom: 10px;
  padding: 1.5em 0em;
}

.user-image:first-child {
  border: 1px solid var(--dark-gray);
}

.user-image {
  object-fit: cover;
  overflow: hidden;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  margin-right: 1.5em;
}

.comment-write__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.id-password__box {
  display: flex;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
}

#username,
#password {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid var(--dark-gray);
  padding: 0px 10px;
}

#username::placeholder,
#password::placeholder {
  padding-right: 10px;
  color: black;
}

#username:focus,
#password:focus {
  border: 2px solid #2c7be4;
  outline: none;
}

.enter {
  background-color: rgb(28, 28, 28);
  color: white;
  width: 65px;
  height: 25px;
  border-radius: 5px;
}

.comment-write {
  background-color: white;
  width: 99%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--dark-gray);
  padding: 0px 15px 0px 10px;
  box-sizing: border-box;
}

#write {
  width: 97%;
  height: fit-content;
  overflow-y: visible;
  height: 70px;
  /* background-color: aliceblue; */
}

.comment__wrapper {
  width: 100%;
  display: grid;
  /* grid-template-rows: repeat(autofill, minmax(5em, 1fr));
  grid-auto-rows: 5em; */
  gap: 0.7em;
  margin-top: 10px;
}

.comment__box {
  background-color: #f7f7f7;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  padding: 2em 1.5em;
  box-sizing: border-box;
  border-radius: 10px;
}

.comment {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.comment > h4 {
  font-size: 1.1em;
  font-weight: 700;
}

.comment > p {
  height: max-content;
  /* overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; */
}

.rate {
  width: 2.8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 20px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}
