@import "/reset.css";
@import "./mode.css";
@import "./comment.css";
@import "./mode.css";
@import "./comment.css";

body {
  background-color: var(--body-bg);
  width: 100vw;
}

/* header bar */
.headerBar {
  width: 100%;
  height: 80px;
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: var(--border-bt);
}

.homeIcon {
  color: white;
  margin-left: 25px;
}

.pageTitle {
  display: flex;
  align-items: center;
}

.movieIcon1 {
  color: white;
  margin-right: 20px;
}

.Home {
  color: white;
  font-size: 30px;
  font-weight: 800;
}

.movieIcon2 {
  color: white;
  margin-left: 20px;
}

.darkMode {
  color: white;
  margin-right: 20px;
}

/* innerHTML */

.Detail {
  width: 100%;
  width: 100%;
  position: relative;
}

.background {
  display: flex;
}

.backFrame {
  width: 100%;
  height: 450px;
  background-color: black;
}

.detailImg {
  position: relative;
}

.backImg {
  width: 800px;
  height: 450px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 450px;
  background: linear-gradient(to right, rgb(0, 0, 0, 1), rgba(255, 255, 0, 0));
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.mask2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 450px;
  background: linear-gradient(to top, rgb(0, 0, 0, 1), rgba(255, 255, 0, 0));
  mask-image: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
}

.detail-body {
  top: 0;
  left: 0;
  color: white;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
}

.detailText {
  width: 500px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailTitle {
  font-size: 24px;
  font-weight: 700;
}

.runTime {
  font-size: 18px;
  color: var(--detail-ft-gray);
}

.detailInfo {
  display: flex;
}

.releaseDate {
  margin-right: 20px;
  color: var(--detail-ft-gray);
}

.genreNames {
  margin-left: 20px;
  color: var(--detail-ft-gray);
}

.bar {
  color: var(--detail-ft-gray);
}

.voteFlex {
  height: 30px;
  display: flex;
}

.starIcon {
  height: 30px;
  color: yellow;
  margin-right: 15px;
}

.detailVote {
  height: 30px;
  display: flex;
  align-items: center;
}

.overView-frame {
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 799px) {
  .backFrame {
    display: none;
  }
  .backImg {
    width: 100%;
  }
  .mask,
  .mask2 {
    width: 100%;
  }
}
@media screen and (max-width: 630px) {
  .overView-frame {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .detailOverview {
      width: 450px;
    }
  }
  .movieDetail {
    height: 600px;
  }

  .Detail {
    background-color: rgb(0, 0, 0);
    height: 600px;
  }
  .detailImg {
    transition: all ease 0.5s;
    opacity: 50%;
  }
}

@media screen and (max-width: 535px) {
  .overView-frame {
    .detailOverview {
      width: 70%;
      align-self: flex-start;
      text-align: left;
    }
  }
  .detailImg {
    transition: all ease 0.5s;
    opacity: 50%;
  }
}

.posterImg {
  width: 150px;
  height: 200px;
  margin-right: 50px;
  border-radius: 10px;
}

.detailOverview {
  width: 350px;
  height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--detail-ft-gray);
}

.wrtie-btn {
  color: var(--rvbtn-color);
}

.comment {
  color: var(--rvfont-color);
}

.comment__box {
  margin-bottom: 30px;
  border: var(--rvCmt-border);
}

.edit {
  color: var(--rvedit-color);
}

.delete {
  color: var(--rvedit-color);
}

.rate {
  color: var(--rvrate-color);
}

.wrtie-btn {
  color: var(--rvbtn-color);
}

.comment {
  color: var(--rvfont-color);
}

.comment__box {
  margin-bottom: 30px;
  border: var(--rvCmt-border);
}

.edit {
  color: var(--rvedit-color);
}

.delete {
  color: var(--rvedit-color);
}

.rate {
  color: var(--rvrate-color);
}

/* 모달 */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  align-content: center;
}

.modal-warpper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: #fefefe;
  padding: 30px;
  box-sizing: border-box;
  justify-self: center;
  width: 500px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-input {
  height: 100%;
  width: 100%;
}

#passwordInput {
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* 테두리 스타일 지정 */
  padding: 5px;
  box-sizing: border-box;
  /* 안쪽 여백 지정 */
  display: flex;
  border-radius: 20px;
  font-weight: 500;
  color: var(--rvInput-tc);
}

/* placeholder 텍스트 위치 변경 */
#passwordInput::placeholder {
  padding-left: 8px;
  font-size: 13px;
  font-weight: 500;
}

#commentInput {
  resize: none; /* textarea 사이즈 사용자 조정 불가하도록 */
  display: flex;
  border-radius: 5px;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 13px;
  font-weight: 500;
  padding: 8px 10px;
  box-sizing: border-box;
  color: var(--rvInput-tc);
}

/* placeholder 텍스트 위치 변경 */
#commentInput::placeholder {
  padding-left: 5px;
  font-size: 13px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .modal-warpper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-content {
    margin: 0%;
    width: 350px;
    height: 400px;
  }
}

#submitBtn {
  background-color: var(--mdConfirm);
  color: white;
  border-radius: 10px;
  font-size: 16px;
  width: 100px;
  height: 30px;
}

#cancelBtn {
  border-radius: 10px;
  color: var(--mdConfirm);
  border: 1.5px solid var(--mdConfirm);
  font-size: 16px;
  width: 100px;
  height: 30px;
}

.delmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.delmodal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delmodal-content {
  background-color: #fefefe;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .delmodal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .delmodal-content {
    width: 350px;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#delpasswordInput {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 10px;
}

.delbtn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.close-text {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

#delconfirmBtn {
  background-color: var(--mdConfirm);
  color: #fefefe;
  margin-left: 10px;
  padding: 3px;
  border-radius: 10px;
  font-size: 15px;
  width: 50px;
}

#switchBtn {
  margin-right: 45px;
}
