@import "/reset.css";
@import './mode.css';
@import './comment.css';

body {
  background-color: var(--body-bg);
}

/* header bar */
.headerBar {
  width: 100%;
  height: 80px;
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: var(--border-bt);
}

.homeIcon {
  color: white;
  margin-left: 20px;
}

.pageTitle {
  display: flex;
  align-items: center;
}

.movieIcon1 {
  color: white;
  margin-right: 20px;
}

.Home {
  color: white;
  font-size: 30px;
  font-weight: 800;
}

.movieIcon2 {
  color: white;
  margin-left: 20px;
}

.darkMode {
  color: white;
  margin-right: 20px;
}

/* innerHTML */

.Detail {
  width: 100%;
  width: 100%;
  position: relative;
}

.background {
  display: flex;
}

.backFrame {
  width: 100%;
  height: 450px;
  background-color: black;
}

.detailImg {
  position: relative;
}

.backImg {
  width: 800px;
  height: 450px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 450px;
  background: linear-gradient(to right, rgb(0, 0, 0, 1), rgba(255, 255, 0, 0));
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.mask2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 450px;
  background: linear-gradient(to top, rgb(0, 0, 0, 1), rgba(255, 255, 0, 0));
  mask-image: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
}

.detail-body {
  top: 0;
  left: 0;
  color: white;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
}

.detailText {
  width: 500px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailTitle {
  font-size: 24px;
  font-weight: 700;
}

.runTime {
  font-size: 18px;
  color: var(--detail-ft-gray);
}

.detailInfo {
  display: flex;
}

.releaseDate {
  margin-right: 20px;
  color: var(--detail-ft-gray);
}

.genreNames {
  margin-left: 20px;
  color: var(--detail-ft-gray);
}

.bar {
  color: var(--detail-ft-gray);
}

.voteFlex {
  height: 30px;
  display: flex;
}

.starIcon {
  height: 30px;
  color: yellow;
  margin-right: 15px;
}

.detailVote {
  height: 30px;
  display: flex;
  align-items: center;
}

.overView-frame {
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 799px) {
  .backFrame {
    display: none;
  }
  .backImg {
    width: 100%;
  }
  .mask, .mask2 {
    width: 100%;
  }
  
  
}
@media screen and (max-width: 630px) {
  .overView-frame {
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
    
    .detailOverview {
      width: 450px;
    }
  }
  .movieDetail{
    height: 600px;
  }
  .Detail {
    background-color: rgb(0, 0, 0);
    height: 600px;
  }
  .detailImg {
    transition: all ease 0.5s;
    opacity: 50%;
  }
}

@media screen and (max-width: 535px) {
  .overView-frame {
    .detailOverview {
      width: 80%;
    }
  }
  .detailImg {
    transition: all ease 0.5s;
    opacity: 50%;
  }
}

.posterImg {
  width: 150px;
  height: 200px;
  margin-right: 50px;
  border-radius: 10px;
}

.detailOverview {
  width: 350px;
  height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--detail-ft-gray);
}

.wrtie-btn {
  color: var(--rvbtn-color);
}

.comment {
  color: var(--rvfont-color);
}

.comment__box {
  margin-bottom: 30px;
  border: var(--rvCmt-border);
}

.edit {
  color: var(--rvedit-color);
}

.delete {
  color: var(--rvedit-color);
}

.rate {
  color: var(--rvrate-color);
}

.wrtie-btn {
  color: var(--rvbtn-color);
}

.comment {
  color: var(--rvfont-color);
}

.comment__box {
  margin-bottom: 30px;
  border: var(--rvCmt-border);
}

.edit {
  color: var(--rvedit-color);
}

.delete {
  color: var(--rvedit-color);
}

.rate {
  color: var(--rvrate-color);
}

.like {
  color: var(--like-color);
}

/* 모달 */
.modal {
  display: none;
  /* 기본적으로는 숨김 */
  position: fixed;
  /* 고정 위치 */
  z-index: 1;
  /* 다른 요소 위에 표시 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* 스크롤 가능 */
  background-color: rgba(0, 0, 0, 0.4);
  /* 배경색과 투명도 */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 중앙 정렬 */
  padding: 60px;
  border: 1px solid #888;
  height: 400px;
  width: 500px;
  /* 모달창 너비 */
}

#passwordInput {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  /* 테두리 스타일 지정 */
  padding: 5px;
  /* 안쪽 여백 지정 */
  border-radius: 4px;
  /* 테두리 모서리를 둥글게 만듦 */
}

#commentInput {
  width: 1215px;
  height: 85;
  border: 1px solid #ccc;
  /* 테두리 스타일 지정 */
  padding: 5px;
  /* 안쪽 여백 지정 */
  border-radius: 4px;
  /* 테두리 모서리를 둥글게 만듦 */
}

.delmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.delmodal-content {
  background-color: #fefefe;
  margin: 30% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#delpasswordInput {
  border: 1px solid #1d1d1d;
  /* 테두리 스타일 지정 */
  padding: 5px;
  /* 안쪽 여백 지정 */
  border-radius: 10px;
  /* 테두리 모서리를 둥글게 만듦 */
}

.delbtn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.close-text {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#delconfirmBtn {
  background-color: #bd1717;
  color: #fefefe;
  margin-left: 10px;
  padding: 3px;
  border-radius: 10px;
  border: 1px solid #1d1d1d;
  font-size: 15px;
  width: 50px;
}

.modal-input {
  height: 400px;
  width: 500px;
}

#passwordInput {
  display: flex;
  border-radius: 20px;
  border: 1px solid #1d1d1d;
  font-weight: bold;
}

#commentInput {
  display: flex;
  height: 80px;
  border-radius: 5px;
  width: 500px;
  height: 350px;
  border-radius: 10px;
  border: 1px solid #1d1d1d;
  font-size: 30px;
  font-weight: bold;
}

.modalbtn {
  float: right;
  padding-top: 20px;
}

#submitBtn {
  background-color: #185ac5;
  border-radius: 10px;
  border: 1px solid #1d1d1d;
  font-size: 20px;
  width: 100px;
  height: 30px;
}

#cancelBtn {
  background-color: #d70a0a;
  border-radius: 10px;
  border: 1px solid #1d1d1d;
  font-size: 20px;
  width: 100px;
  height: 30px;
}



/* dark mode style */
/* :root {
  --header-bg: black;
  --header-ft: white;
  --body-bg: white;
  --body-ft: black;
  --detail-ft-gray: rgb(199, 199, 199); */
  /* switch, scroll */
  /* --btn-bg: white;
  --btn-color: black;
  --scroll-bg: black;
  --scroll-ft: white; */
  /* 리뷰 */
  /* --rvtitoe-ft: black;
  --rvboreder-bottom: rgba(0, 0, 0, 0.3);
  --rvborder: rgba(0, 0, 0, 0.3);
  --rvInput-bg: white;
  --rvInput-ft: black;
  --rvCmt-bg: #f7f7f7;
  --rvCmt-ft: black;
} */

/* :root.dark {
  --header-bg: rgb(0, 0, 0);
  --header-ft: rgb(234, 234, 234);
  --body-bg: rgba(0, 0, 0);
  --body-ft: rgb(234, 234, 234);
  --border-btn: 1px solid rgb(177, 177, 177); */
  /* switch, scroll */
  /* --btn-bg: rgb(53, 53, 53);
  --btn-color: white;
  --scroll-bg: white;
  --scroll-ft: black; */
  /* 리뷰 */
  /* --rvtitoe-ft: white;
  --rvboreder-bottom: rgba(237, 237, 237, 0.58);
  --rvborder: rgba(237, 237, 237, 0.58);
  --rvInput-bg: rgba(0, 0, 0, 0.507);
  --rvInput-ft: white;
  --rvCmt-bg: rgb(0, 0, 0);
  --rvCmt-ft: white;
  --rvInput-tc: white;
  --rvbtn-color: white;
  --rvfont-color: white;
  --rvCmt-border: 1px solid rgba(255, 255, 255, 0.635);
  --rvedit-color: rgb(129, 129, 129);
  --rvrate-color: white;
} */