@import "/reset.css";

body {
  background-color: var(--body-bg);
}

/* header bar */
.headerBar {
  width: 100%;
  height: 80px;
  background-color: var(--header-bg);
  border-bottom: var(--border-btn);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeIcon {
  color: white;
  margin-left: 20px;
}

.pageTitle {
  display: flex;
  align-items: center;
}

.movieIcon1 {
  color: white;
  margin-right: 20px;
}

.Home {
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.movieIcon2 {
  color: white;
  margin-left: 20px;
}

.darkMode {
  color: white;
  margin-right: 20px;
}

/* innerHTML */

.Detail {
  width: 100%;
  width: 100%;
  position: relative;
}

.background {
  display: flex;
}

.backFrame {
  width: 100%;
  height: 450px;
  background-color: black;
}

.detailImg {
  position: relative;
}

.backImg {
  width: 800px;
  height: 450px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 450px;
  background: linear-gradient(to right, rgb(0, 0, 0, 1), rgba(255, 255, 0, 0));
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.mask2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 450px;
  background: linear-gradient(to top, rgb(0, 0, 0, 1), rgba(255, 255, 0, 0));
  mask-image: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
}

.detail-body {
  top: 0;
  left: 0;
  color: white;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
}

.detailText {
  width: 500px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailTitle {
  font-size: 24px;
  font-weight: 700;
}

.runTime {
  font-size: 18px;
  color: var(--detail-ft-gray);
}

.detailInfo {
  display: flex;
}

.releaseDate {
  margin-right: 20px;
  color: var(--detail-ft-gray);
}

.genreNames {
  margin-left: 20px;
  color: var(--detail-ft-gray);
}

.bar {
  color: var(--detail-ft-gray);
}

.voteFlex {
  height: 30px;
  display: flex;
}

.starIcon {
  height: 30px;
  color: yellow;
  margin-right: 15px;
}

.detailVote {
  height: 30px;
  display: flex;
  align-items: center;
}

.overView-frame {
  display: flex;
  margin-top: 20px;
}

.posterImg {
  width: 150px;
  height: 200px;
  margin-right: 50px;
  border-radius: 10px;
}

.detailOverview {
  width: 350px;
  height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--detail-ft-gray);
}

.wrtie-btn {
  color: var(--rvbtn-color);
}

.comment {
  color: var(--rvfont-color);
}

.comment__box {
  margin-bottom: 30px;
  border: var(--rvCmt-border);
}

.edit {
  color: var(--rvedit-color);
}

.delete {
  color: var(--rvedit-color);
}

.rate {
  color: var(--rvrate-color);
}

@media screen and (max-width: 660px) {
}

/* 스크롤 버튼 */
.scrollBtn {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: none;
  background-color: var(--scroll-bg);
  color: var(--scroll-ft);
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  z-index: 4;
}

/* switch style */
#switchBtn {
  position: absolute;
  top: 15px;
  right: 30px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  cursor: pointer;
  border: none;
}

/* dark mode style */
:root {
  --header-bg: black;
  --header-ft: white;
  --body-bg: white;
  --body-ft: black;
  --detail-ft-gray: rgb(199, 199, 199);
  /* switch, scroll */
  --btn-bg: white;
  --btn-color: black;
  --scroll-bg: black;
  --scroll-ft: white;
  /* 리뷰 */
  --rvtitoe-ft: black;
  --rvboreder-bottom: rgba(0, 0, 0, 0.3);
  --rvborder: rgba(0, 0, 0, 0.3);
  --rvInput-bg: white;
  --rvInput-ft: black;
  --rvCmt-bg: #f7f7f7;
  --rvCmt-ft: black;
}

:root.dark {
  --header-bg: rgb(0, 0, 0);
  --header-ft: rgb(234, 234, 234);
  --body-bg: rgba(0, 0, 0);
  --body-ft: rgb(234, 234, 234);
  --border-btn: 1px solid rgb(177, 177, 177);
  /* switch, scroll */
  --btn-bg: black;
  --btn-color: white;
  --scroll-bg: white;
  --scroll-ft: black;
  /* 리뷰 */
  --rvtitoe-ft: white;
  --rvboreder-bottom: rgba(237, 237, 237, 0.58);
  --rvborder: rgba(237, 237, 237, 0.58);
  --rvInput-bg: rgba(0, 0, 0, 0.507);
  --rvInput-ft: white;
  --rvCmt-bg: rgb(0, 0, 0);
  --rvCmt-ft: white;
  --rvInput-tc: white;
  --rvbtn-color: white;
  --rvfont-color: white;
  --rvCmt-border: 1px solid rgba(255, 255, 255, 0.635);
  --rvedit-color: rgb(129, 129, 129);
  --rvrate-color: white;
}
