/* dark mode style */
:root {
  --header-bg: black;
  --header-ft: white;
  --body-bg: white;
  --body-ft: black;
  --detail-ft-gray: rgb(199, 199, 199);
  /* switch, scroll */
  --btn-bg: white;
  --btn-color: black;
  --scroll-bg: black;
  --scroll-ft: white;
  --switch-btn: rgb(0, 0, 0);
  --scroll-btn: black;
  --scroll-arrow: white;
  /* 리뷰 */
  --rvtitoe-ft: black;
  --rvboreder-bottom: rgba(0, 0, 0, 0.3);
  --rvborder: rgba(0, 0, 0, 0.3);
  --rvInput-bg: white;
  --rvInput-ft: black;
  --rvCmt-bg: #f7f7f7;
  --rvCmt-ft: black;
  --rvInputFocus: #2c7be4;
  /* 리뷰 */
  --mdConfirm: #2c7be4;
  --mdRvInnerText: rgba(0, 0, 0, 1);
}

:root.dark {
  --header-bg: #000000;
  --border-bt: 1px solid rgba(255, 255, 255, 0.522);
  --header-ft: rgb(234, 234, 234);
  --body-bg: rgba(0, 0, 0);
  --body-ft: rgb(234, 234, 234);
  --detail-ft-gray: rgb(199, 199, 199);
  --border-btn: 1px solid rgb(177, 177, 177);
  /* switch, scroll */
  --btn-bg: rgb(53, 53, 53);
  --btn-color: rgb(255, 255, 255);
  --scroll-bg: white;
  --scroll-ft: black;
  --switch-btn: rgb(255, 255, 255);
  --scroll-btn: white;
  --scroll-arrow: black;
  /* 리뷰 */
  --rvtitoe-ft: white;
  --rvboreder-bottom: rgba(237, 237, 237, 0.58);
  --rvborder: rgba(237, 237, 237, 0.58);
  --rvInput-bg: rgba(0, 0, 0, 0.507);
  --rvInput-ft: white;
  --rvCmt-bg: rgb(0, 0, 0);
  --rvCmt-ft: white;
  --rvInput-tc: white;
  --rvbtn-color: white;
  --rvfont-color: white;
  --rvCmt-border: 1px solid rgba(255, 255, 255, 0.635);
  --rvedit-color: rgb(129, 129, 129);
  --rvrate-color: white;
  --rvInputFocus: #2c7be4;
  /* 리뷰 */
  --mdConfirm: #2c7be4;
  --mdRvInnerText: rgba(0, 0, 0, 1);
}

/* 스크롤 버튼 */
.scrollBtn {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: var(--scroll-btn);
  color: white;
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  z-index: 4;
}

.scroll {
  color: var(--scroll-arrow);
}

/* switch style */
#switchBtn {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  border-radius: 30px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  cursor: pointer;
}

.switch {
  color: var(--switch-btn);
}
