@import "./reset.css";
@import "./DetailPage/mode.css";

body {
  background-color: var(--body-bg);
}

/* header bar */
.headerBar {
  width: 100%;
  height: 80px;
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: var(--border-bt);
}

.homeIcon {
  margin-left: 25px;
  color: var(--border-co);
}

.pageTitle {
  display: flex;
  align-items: center;
}

.movieIcon1 {
  color: white;
  margin-right: 20px;
}

.Home {
  color: white;
  font-size: 30px;
  font-weight: 800;
}

.movieIcon2 {
  color: white;
  margin-left: 20px;
}

.darkMode {
  color: white;
  margin-right: 20px;
}

#movieIcon {
  color: rgb(255, 255, 255);
  font-size: 35px;
}

.movieSearch-frame {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.movieSearch {
  width: 300px;
  height: 40px;
  display: flex;
  padding-left: 15px;
  align-items: center;
  border-radius: 50px;
  border: 1px solid gray;
}

.card-flex {
  width: 100%;
  display: grid;
  row-gap: 100px;
  grid-gap: 100px;
  column-gap: 50px;
  place-items: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (min-width: 700px) {
  .card-flex {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .card-flex {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1300px) {
  .card-flex {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.movieCard {
  width: 260px;
  height: 350px;
  position: relative;
  border-radius: 20px;
  border: 1px solid rgba(145, 145, 145, 0.49);
}

.movieCard .posterImg {
  width: 260px;
  height: 350px;
  border-radius: 20px;
}

.movieCard .card-body {
  opacity: 0;
  width: 260px;
  height: 350px;
  padding: 15px;
  color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.35s ease-in-out;
  position: absolute;
  left: 0;
  bottom: 0;
}

.movieCard:hover .card-body {
  opacity: 1;
  cursor: pointer;
}

.movieCard .card-body .movieTitle {
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 0.4em;
  text-overflow: ellipsis;
  text-transform: uppercase;
  margin-top: 20px;
}

.textFrame {
  width: 100%;
}

.movieCard .card-body .movieOverview {
  font-size: 15px;
  overflow: hidden;
  max-height: 9.8em;
  text-align: center;
  text-overflow: ellipsis;
  margin-top: 20px;
}

.movieCard .card-body .movieVote {
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  margin-top: 40px;
}
