@import "./reset2.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewNav {
  width: 100%;
  max-width: 1320px;
  height: 50px;
  margin-left: 50px;
  margin-top: 50px;
  border-bottom: solid 1px black;
}

.reviewTitle {
  font-size: 30px;
  font-weight: bold;
}

.mainreview {
  margin-left: 50px;
  margin-top: 20px;
  max-width: 1320px;
  height: 120px;
}

.profile {
  float: left;
  width: 105px;
  text-align: center;
}

.profile > img {
  margin-top: 10px;
}

.reviewtext {
  text-align: left;
  margin-top: 10px;
  height: 100px;
  width: 1320px;
}

.writeName {
  font-size: 15px;
  height: 20px;
  margin-left: 50px;
  border-radius: 15px;
  width: 200px;
  float: left;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.writePassWord {
  font-size: 15px;
  height: 20px;
  margin-left: 50px;
  border-radius: 10px;
  width: 200px;
  float: left;
}

.search {
  margin-left: 20px;
  border-radius: 10px;
  width: 60px;
}

.writereview {
  font-size: 15px;
  height: 80px;
  margin-left: 50px;
  border-radius: 15px;
  width: 1150px;
}
/*위에까지가 리뷰 작성칸*/
/*밑에는 리뷰 보는 칸*/
.reviewList {
  margin-left: 50px;
  margin-top: 20px;
  width: 1320px;
  height: 200px;
  background-color: rgb(241, 238, 235);
}

.listprofile {
  float: left;
  margin-left: 20px;
}

.listprofile > img {
  margin-top: 60px;
  margin-right: 50px;
}

.list {
  display: grid;
  align-items: center;
  height: 200px;
}

.nickname {
  font-size: 25px;
  font-weight: bold;
}
